<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="cmsmagazine" content="49e7bd2f5d79ef7859363a3765356d65" />
	<title>@ViewBag.Title</title>
</head>
<body>
<header class="header">
	<div class="wrapper">
	</div>
</header>
<main class="content">
	<div class="wrapper">
		@RenderBody()
	</div>
</main>
<footer class="footer">
	<div class="wrapper">

	</div>
</footer>
@RenderSection("scripts", false)
</body>
</html>